<div class="video-background">
	<div class="video-wrap">
		<div id="video">
			<video id="bgvid" autoplay loop muted playsinline>
				<source src="/Assets/bgvidmed.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>
<div class="caption-dashboard">
<div class="container mt-xl-5">
  <h1>Welcome to your Dashboard, {{user.username}}</h1>
  <p>Here are your Perfect Days</p>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newDayModal">Create New 'Perfect-Day'</a>
  </div>

  <!-- Display Perfect Days -->
  {{#each perfectDays as |day|}}
    <div class="card mb-4">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <h4 class="card-title text-center">{{day.dataValues.title}}</h4>
            <p class="card-text mt-3">{{day.dataValues.description}}</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-body d-flex flex-column-reverse flex-md-column justify-content-between h-100 justify-content-md-end">
        <div id="previewSection">
          <div class="url-container">
            <p id="previewUrl"></p>
          </div>
          <div class="button-container">
            <div class="copy-container">
              <span id="copyIndicator" class="copy-indicator">Copied!</span>
            </div>
            <button id="copyBtn" onclick="copyToClipboard()"><i class="far fa-copy"></i></button>
          </div>





        </div>
            <a href="#" id="previewBtn" class="btn btn-success mb-3 mb-md-2" data-day-id="{{ day.dataValues.id }}" onclick="showPreview(this.getAttribute('data-day-id'), '{{ day.guestKey }}')">
              <i class="fas fa-paper-plane"></i> Preview URL
            </a>

            <a href="/perfect-day/{{day.dataValues.id}}/delete" class="btn btn-danger mb-3 mb-md-2">
              <i class="fas fa-trash-alt"></i>
            </a>
            <a href="/perfect-day/{{day.dataValues.id}}/edit" class="btn btn-primary mb-3 mb-md-2">
              <i class="fas fa-edit"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <p>No Perfect Days found.</p>
  {{/each}}
</div>
</div>










<!-- Bootstrap Modal -->
<div class="modal fade" id="newDayModal" tabindex="-1" role="dialog" aria-labelledby="newDayModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold text-center w-100" id="newDayModalLabel">Create New 'Perfect-Day'</h4>
        <!-- Close button, but couldn't get it to work, so let's just remove the bug! :)
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <form id="newDayForm">
          <div class="form-group mb-4 text-center">
            <label for="dayTitle" class="font-weight-bold">Title</label>
            <input type="text" class="form-control" id="dayTitle" placeholder="Enter title">
          </div>
          <div class="form-group mb-4 text-center">
            <label for="dayDescription" class="font-weight-bold">Description</label>
            <textarea class="form-control" id="dayDescription" rows="3"></textarea>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block btn-lg mx-auto" style="max-width: 200px;">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/scripts/dashboard.js"></script>
