<div class="container mt-5">
  <h1>{{perfectDay.title}}</h1>
  <p>{{perfectDay.description}}</p>

  {{#if perfectDay.options.length}}
    <div class="optionset-container">
      {{#each perfectDay.options}}
        <!-- Start of option pair -->
        <div class="row mb-3">
          <div class="col">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <h5>Option 1</h5>
                  <p>Click to reveal</p>
                </div>
                <div class="flip-card-back" style="background-image: url('{{this.option1_image}}');">
                  <h5 class="card-title">{{this.option1}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <h5>Option 2</h5>
                  <p>Click to reveal</p>
                </div>
                <div class="flip-card-back" style="background-image: url('{{this.option2_image}}');">
                  <h5 class="card-title">{{this.option2}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of option pair -->
      {{/each}}
    </div>
  {{else}}
    <p>No options found.</p>
  {{/if}}
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/scripts/guest-view.js"></script>
